---
layout: default
---

<div class="home">

    {% for post in site.posts %}
        <h1 class="post-title">
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h1>
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        <div class="post-meta">{{ post.date | date: date_format }}</div>

        <div class="post-body">
          {{ post.excerpt }}

          <a class="post-link" href="{{ post.url | relative_url }}">(more ...)</a>
        </div>

        <div class="post-index-nav">
            <div class="post-tags">
              {% for tag in post.tags %}
              <a href="{{ post.url | relative_url }}">{{ tag | escape }}</a>
              {% endfor %}
            </div>
            <div>
              <a class="post-link" href="{{ post.url | relative_url }}#disqus_thread">Comments</a>
            </div>
        </div>

    {% endfor %}

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>

</div>
